.form-group {
  margin-right: 20px;
}
.form-group label {
  display: block;
  padding-bottom: 5px;
  font-size: 15px;
}
.form-group input {
  border: 2px solid black;
  padding: 6px;
  width: 80%;
}
.form-group input:focus-visible {
  outline: none;
}
